.App {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #ffffff; */
  color: rgb(4, 15, 59);
}

.section h1{
  font-size: 5em;
  margin: 10px 0;
  word-spacing: 8px;
  letter-spacing: 8px;
}

.Header {
  position: absolute;
  top: -23vh;
  left: -35vh;
  width: 100%;
  padding: 20px 10.5%;
  margin: 0px auto;
  text-align: left;
}

#canvas {
  position: absolute;
  top: -25vh;
  left: 0;
  width: 200%;
  translate: -25% 0;
  height: 100vh;
  pointer-events: none;
  z-index: -2;
}

#sunCanvas {
  position: absolute;
  top: -23vh;
  left: 120vh;
  z-index: -1;
  width: 85px;
  border-radius: 50%;
}

.sun:hover {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: -11vh;
  left: 111vh;
  /* display: none; */
  z-index: 1;
}

.dropdown-content {
  border-right: 2px solid #bfbfbf;
  background-color: white;
  margin: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.dropdown-content.open {
  max-height: 200px; /* adjust as necessary */
}

.dropdown-content button{
  font-size: large;
  background: none;
  border: none;
  color: #007BFF;
  cursor: pointer;
  padding: 10px;
  text-align: right;
  width: 120px;
}

.button-text:hover {
  text-decoration: underline;
}

.cdot {
  /* color: gray; */
  padding-left: 10px; /* Adjust as necessary */
}

.Header img {
  width: 50px;
}

.section, .top-section {
  margin: auto;
  width: 50%;
  background-color: white;
  position: relative;
}

.section {
  margin: 80px auto;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  border-radius: 18px;
  padding: 30px;
}

.top-section {
  background-color: rgb(255,255,255, 0.4);
  margin: 25vh auto 40vh auto;
  height: 40%;
}

.Title {
  font-size: 4em;
  margin: 10px 0;
  word-spacing: 8px;
  letter-spacing: 8px;
}

.sub-Title {
  font-size: 2.5em;
  color: rgb(58, 58, 58);
  margin: 10px 0;
  letter-spacing: 5px;
}

.Intro {
  text-indent: 45px;
  margin: 20px 0;
  font-size: 18px;
  color: rgb(4, 15, 59);
  line-height: 1.5;
}

.Links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Links a {
  margin: 50px 50px;
  color: #61dafb;
  text-decoration: none;
}

.Links a:hover {
  text-decoration: underline;
}