body {
  background-color: #fff;
}

.App {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* background-color: #ffffff; */
  color: rgb(4, 15, 59);
}

.top {
  width: 100%;
  height:100%;
  padding-top: 1px;
  background-image: url("./img/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section h1 {
  font-size: 2.5em;
  margin: 10px 0;
  word-spacing: 6px;
  letter-spacing: 6px;
}

.Header {
  position: absolute;
  top: -15vh;
  left: -35vh;
  width: 100%;
  padding: 20px 10.5%;
  margin: 0px auto;
  text-align: left;
}

#canvas {
  position: absolute;
  top: -25vh;
  left: 0;
  width: 180%;
  translate: -23% 0;
  height: 100vh;
  pointer-events: none;
  z-index: 5;
}

#sunCanvas {
  position: absolute;
  top: -15vh;
  left: 115%;
  z-index: -1;
  width: 85px;
  border-radius: 50%;
}

#menu {
  position: absolute;
  top: -14vh;
  left: 4%;
  width: 100%;
  padding: 20px 10.5%;
  margin: 0px auto;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
  font-size: 25px;
  font-weight: 600;
  z-index: -4;
}

.sun:hover {
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: -7vh;
  left: 105%;
  /* display: none; */
  z-index: 1;
}

.dropdown-content {
  border-right: 2px solid #0a0606;
  /* background-color: white; */
  margin: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-out;
}

.dropdown-content.open {
  max-height: 200px;
  /* adjust as necessary */
}

.dropdown-content button {
  font-size: large;
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
  padding: 10px;
  text-align: right;
  width: 120px;
}

.button-text:hover {
  text-decoration: underline;
}

.cdot {
  /* color: gray; */
  padding-left: 10px;
  /* Adjust as necessary */
}

.Header img {
  width: 50px;
}

.contact {
  padding-top: 2%;
  font-size: 18px;
  color: #000000;
  width: 100%;
  text-align: center;
  /* background-color: #ffffffcc; */
}

.section,
.top-section {
  margin: auto;
  width: 50%;
  /* background-color: white; */
  position: relative;
  min-height: fit-content;

}

.top-section {
  /* no background color */
  padding: 30px 50px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.88);
  z-index: 10;
}



.section {
  margin: 80px auto;
  box-shadow: 0px 5px 8px 5px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 30px;
}

.top-section {
  /* background-color: rgb(255, 255, 255, 0.8); */
  margin: 17vh auto 40vh auto;
  height: 50%;
}

.top-section p {
  font-size: 22px;
}

.Title {
  font-size: 4em;
  margin: 10px 0;
  word-spacing: 8px;
  letter-spacing: 8px;
}

.sub-Title {
  font-size: 2.5em;
  color: rgb(58, 58, 58);
  margin: 10px 0;
  letter-spacing: 5px;
}

.Intro {
  text-indent: 28px;
  margin: 20px 0;
  font-size: 18px;
  color: rgb(4, 15, 59);
  line-height: 1.5;
}

.me-photo {
  width: 40%;
}

.text {
  width: 55%;
}

.me-photo {
  text-align: center;
  padding: 20px;
}

.me-photo img {
  width: 220px;
  height: auto;
}

#personalinfo {
  display: flex;
  justify-content: space-between;
}

.arrow-container {
  position: absolute;
  bottom: -20vh;
  left: 50%;
  transform: translateX(-50%);
}

.arrow-down {
  width: 30px;
  height: 30px;
  border: solid 5px #636363;
  border-top: transparent;
  border-right: transparent;
  margin: 0 auto;
  animation: bounce 2s infinite;
}

.back-to-top {
  position: fixed;
  left: 93%;
  bottom: 7%;
  background-color: #000000dd;
  padding: 16px 12px;
  padding-bottom: 6px;
  cursor: pointer;
  border: 0;
  display: none;
}

.arrow-up {
  width: 15px;
  height: 15px;
  border: solid 4px #ffffff;
  border-top: transparent;
  border-right: transparent;
  margin: 0 auto;
  rotate: 135deg;
}

.back-to-top.visible {
  display: block;
}



@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0) rotate(-45deg);
  }

  40% {
    transform: translateY(-30px) rotate(-45deg);
  }

  60% {
    transform: translateY(-15px) rotate(-45deg);
  }
}

@media screen and (max-width: 768px) {

  .section,
  .top-section {
    width: 80%;
  }

  .section h1 {
    font-size: 2em;
  }

  .Title {
    font-size: 2.5em;
  }

  .sub-Title {
    font-size: 1.5em;
  }

  .Intro {
    font-size: 16px;
  }

  .section h2 {
    font-size: 1.3em;
  }

  #menu {
    display: none;
  }

  .back-to-top {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  #personalinfo {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .text {
    width: 100%;
  }

  .me-photo {
    width: 100%;
  }
}