.Courses {
    padding: 20px;
}

.Courses h2 {
    margin-bottom: 10px;
}

.Courses ul {
    list-style-type: none;
    padding: 0;
}

.course-section-divider {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.course-container {
    padding: 16px;
    padding-bottom: 0;
    width: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
}

.course-container h3 {
    font-size: 1rem;
}

.Courses ul li {
    margin-bottom: 8px;
    padding-left: 5px;
    font-size: 0.92rem;
    line-height: 1.25;
}

.course-container-etc {
    display: none;
}

@media screen and (max-width: 1024px) {
    .course-container {
        width: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .course-container {
        width: 100%;
        max-width: 100%;
    }

    .Courses ul li {
        text-indent: 0;
        font-size: 0.95rem;
    }
}
