.Courses {
    padding: 20px;
}

.Courses h2 {
    margin-bottom: 10px;
}

.Courses ul {
    list-style-type: none;
    padding: 0;
}

.course-section-divider {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.course-container {
    padding: 20px;
    padding-bottom: 0;
    width: 40%;
    max-width: 50%;
}

.course-container-etc {
    padding: 20px;
    width: 30%;
}

.Courses ul li {
    margin-bottom: 10px;
    padding-left: 5px;
}

@media screen and (max-width: 768px) {
    .Courses ul li {
        text-indent: 0px;
    }
    .course-container {
        width: 90%;
        max-width: 90%;
    }
}
